<table class="responsive-table trademark-summary-table">
 <thead>
   <tr>
     <th>{{ 'Your Order'|t }}</th>
     <th></th>
     <th></th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td>{{ data.label }}</td>
     <td>{{ 'Total in'|t }} {{ data.currency }}</td>
     <td>{{ data.price }}</td>
   </tr>
 </tbody>
</table>
